
/* GENERAL STYLE */

*
{
    box-sizing: border-box;
}
.clearfix
{
	clear: both;
	overflow: hidden;
}
a
{
    color: inherit;
    text-decoration: none;
}
a:hover
{
    color: pink;
    transition: all .2s ease-in;
}
article:hover
{
    background-color: rgba(255, 255, 255, 1);
    transition: all .2s ease-in;
}
body
{
    font-family: 'Abel', sans-serif;
    font-size: 90%;
    line-height: 19px;
    line-height: 1.2rem;
    /* diagonal lines backgr */
    background: -webkit-repeating-linear-gradient(135deg, #eee, #eee 5px, #d3d3d3 5px, #d3d3d3 10px);
    background: repeating-linear-gradient(-45deg, #eee, #eee 5px, #d3d3d3 5px, #d3d3d3 10px);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAK1tbUzSeUwMDAAABgrCEFFWy9GAAAAAElFTkSuQmCC) repeat;
}
.wrapper 
{
	width: 95%;
    margin: 0 auto 32px auto;
    margin: 0 auto 2rem auto;
}
.flexbox-page
/* FLEXBOX */ {
	width: 100%;
    margin: 32px auto 80px auto;
    margin: 2rem auto 5rem auto;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
}

/* HEADER & FOOTER */

header, /* FLEXCONTENT */
footer, /* FLEXCONTENT */
article
/* FLEXCONTENT */ {
    width: 300px;
    height: 350px;
    margin: 8px;
    border-radius: 0.25rem;
}
header strong
/*my name */ {
	color: #7AC9ED;
	font-weight: normal;
}
header,
footer,
.social-panel
{
    color: white;
	background-color: black;
	/* fuzz box edges BLACK */
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.50);
}

header p,
footer p,
h1
/* is whole header body */ {
	margin: 16px;
	margin: 1rem;
	font-size: 16px;
	font-size: 1rem;
	font-weight: normal;
}
h2
/* hello */ {
	margin: 32px 16px 24px 16px;
	margin: 2rem 1rem 1.5rem 1rem;
	font-size: 80px;
	font-size: 5rem;
	font-family: 'Economica', sans-serif;
	line-height: 70px;
	line-height: 4.4rem;
}
footer h2
/* keep in touch */ {
	font-size: 68px;
	font-size: 4.3rem;
	line-height: 57px;
	line-height: 3.6rem;
}
.flexbox-social-header
/* FLEXBOX */ {
	width: 100%;
    margin: 18px auto;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.flexbox-social-footer
/* FLEXBOX */ {
	width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: right;
    padding-right: 50px;
}
.fa
{
	color: white;
	text-align: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding-top: 9px;
	margin: 0 0 13px 9px;
}
.fa:hover
{
	color: pink;
    transition: all .2s ease-in;
}
.fa-envelope
{
	background-color: #FF6600;
}
.fa-linkedin
{
	background-color: #1A85BC;
}
.fa-facebook
{
	background-color: #3E5C9A;
}
#admin
{
	width: 22px;
	border-radius: 10px;
	border: 2px solid white;
	color: white;
	text-align: center;
}

/*ARTICLES*/

article
{
    color: black;
	background-color: rgb(255, 255, 255); /* alternative solid colour */
    background-color: rgba(255, 255, 255, 0.6);
    /* fuzz box edges WHITE */
	box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.50);
	position: relative;
}
article h3
{
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	font-size: 1.4rem;
	color: white;
    padding: 11px 11px 11px 8px;
    padding: 0.7rem 0.7rem 0.7rem 0.5rem;
    margin: 0px;
    margin: 0rem;
    background-color: rgba(0,0,0,1);
    /* rounded corners top corners only */
	border-radius: 0.25rem 0.25rem 0px 0px; 
	/* fuzz box edges BLACK */
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.50);
}
article h3 span
{
	text-transform: none;
	font-size: 19px;
	font-size: 1.2rem;
	padding-left: 5px;
}
.www h3
{
	color: #FBB6D3;
}
.atl h3
{
	color: #48B5A2;
}
.crm h3,
.copy h3
{
	color: #86CA5D;
}
.video h3
{
	color: #FFFA82;
}
.social h3
{
	color: #FCAA85;
}
article p 
{
	width: 90%; 
  margin: auto;
  display: block;
	padding: 24px 0px 24px 0px;
	padding: 1.5rem 0rem 1.5rem 0rem;
}
article img
{
	width: 90%; 
  margin: 0 auto 40px auto; 
  margin: 0 auto 2.5rem auto;
  display: block;
}
article i
{
	position: absolute;
	bottom: 4px;
	right: 15px;
	background-color: white;
	border: 2px solid #E7465F;
}
article i:before
	{
		color: red;
	}

/* DETAIL PAGE */

.social-panel
{
	display: inline-block;
	vertical-align: top;
	width: 10%;
	height: 200px;
	border-radius: 0.25rem;
	margin: 8px;
}
.flexbox-social-panel
{
	width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}
.flexbox-social-panel a
{
	text-align: center;
	padding: 15px;
	margin: 0 0 -13px -9px;
}
.detail-block
{
	width: 80%;
	display: inline-block;
	color: black;
	margin: 8px;
    border-radius: 0.25rem;
	background-color: rgb(255, 255, 255); /* alternative solide */
    background-color: rgba(255, 255, 255, 0.8);
    /* fuzz box edges WHITE */
	box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.50);
	padding: 8px 8px 40px 8px;
}
h4
{
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	font-size: 3rem;
	line-height: 44px;
	line-height: 2.8rem;
	margin: 32px 0 16px 0;
	margin: 2rem 0 1rem 0;
}
h5
{
	font-size: 32px;
	font-size: 2rem;
	line-height: 32px;
	line-height: 2rem;
	margin: 0 0 16px 0;
	margin: 0 0 1rem 0;;
}
h6
{
	font-size: 32px;
	font-size: 2rem;
	line-height: 32px;
	line-height: 2rem;
	margin: 32px 0 24px 0;
	margin: 2rem 0 1.5rem 0;
}
.detail-block p
{
	margin: 8px 0px;
	margin: 0.5rem 0rem;
}
.detail-block .full-width 
{
	width: 100%;
}
.half-width:first-child
{
	width: 49.5%;
	float: left;
}
.half-width:last-child
{
	width: 49.5%;
	float: right;
}
.imageblock:after
{
    clear:both;
    content:" ";
    display:block;
}
.detail-block img
{
    margin: 15px 0;
}

/* LOGIN PAGE */
/* ADD PAGE */

.backtohomepage
{
  color: red;
  margin: 20px;
}
.login
{
  display: block;
  border: 3px solid white;
  margin: 20px;
  padding: 20px;
}
.add
{
  display: none;
  border: 3px solid white;
  margin: 20px;
  padding: 20px;
}
.add input
{
  width: 100%;
}
.add .button,
.login .button
{
  margin: 20px 0 0 0;
  padding: 10px;
  color: red;
  background-color: white;
}
.add .button:hover,
.login .button:hover
{
  background-color: pink;
}


/* SMALL SCREENS */

@media (max-width: 650px) {
	.wrapper
	{
		width: 100%;
	}
	.flexbox-social-header span,
	.flexbox-social-footer span
	{
		display: none;
	}
	.flexbox-social-header,
	.flexbox-social-footer
	{
		width: 100%;
	    display: -webkit-inline-box;
	    display: -webkit-inline-flex;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    -webkit-flex-flow: row wrap;
	        -ms-flex-flow: row wrap;
	            flex-flow: row wrap;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    padding-right: 0px;
	}    
	.flexbox-social-footer
	{
		padding-top: 20px;
	}
	.fa
	{
		width: 60px;
		height: 60px;
		padding-top: 11px;
		margin: 5px 12px;
	}
	.fa:before
	{
		font-size: 2rem;
	}
	.detail-block
	{
		width: 100%;
	}
	.social-panel
	{
		width: 100%;
		height: 100px;
		border-radius: 0.25rem;
		margin: 8px;
	}
	.flexbox-social-panel
	{
		width: 100%;
	    display: -webkit-inline-box;
	    display: -webkit-inline-flex;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    -webkit-flex-flow: row;
	        -ms-flex-flow: row;
	            flex-flow: row;
	}
	.flexbox-social-panel a
	{
		text-align: center;
		margin: auto;
	}
